DB_NAME=playa_autos
DB_USER=playa
DB_PASSWORD=playa_secret
JWT_SECRET=cambiar-este-secreto-en-produccion
TZ=America/Asuncion

# Puertos expuestos en el host
FRONTEND_HOST_PORT=8081
BACKEND_HOST_PORT=8000
DB_HOST_PORT=5433
